form {
    margin-top: 50px;
    margin-left: 100px;
    width: 600px;
}
.table {
    height: 100px;
    text-align: center;
    border: 2px solid black;
    
}


tr, th {
    text-align: center;
}