form {
    margin-top: 50px;
    margin-left: 100px;

}
.table {
    height: 100px;
    text-align: center;
    border: 2px solid black;
    width: 100%;
}


tr, th {
    text-align: center;
}

